*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("Thank you for giving me gpu.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}